.form-box {
  max-width: 300px;
  /* background: #f1f7fe; */
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-width: 20px;
  border-radius: 16px;
  color: #ffffff;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1rem;
  color: #666;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #f1ecd8;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;

  /* ensure input text is visible */
  color: #111;
}

/* make placeholder visible (cross-browser) */
.input::placeholder {
  color: #9aa;
  opacity: 1; /* some browsers reduce opacity by default */
}
.input::-webkit-input-placeholder {
  color: #9aa;
}
.input::-moz-placeholder {
  color: #9aa;
  opacity: 1;
}
.input:-ms-input-placeholder {
  color: #9aa;
}
.input:-moz-placeholder {
  color: #9aa;
  opacity: 1;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  backdrop-filter: blur(10px);
  color: #fff;
  justify-items: center;
  text-align: center;

  box-shadow: rgba(255, 255, 255, 0.08) 0 -1px;
}

.form-section a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.699);
  transition: color 0.3s ease;
}

.form-section a:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #c99868;
  color: #000000c7;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .form button:hover {
  background-color: #005ce6;
} */

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 12px 15px;
}

.form-group label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.btn.create-btn,
.btn.create-btn:hover,
.btn.create-btn:focus,
.btn.create-btn:active {
  background-color: #afd5aa;
  border-color:#afd5aa ;
  box-shadow: none;
}

.btn.update-btn, 
.btn.upadte-btn:hover,
.btn.update-btn:focus,
.btn.update-btn:active {
  background-color: #afd5aa;
  border-color:#afd5aa ;
  box-shadow: none;
}

.btn.cancel-btn:hover,
.btn.cancel-btn,
.btn.cancel-btn:focus,
.btn.cancel-btn:active {
  background-color: #b74949;
  /* color: #ffffff; */
  border-color: #b74949;
  box-shadow: none;
}
