/* the map image fills the container */
.map-wrapper{
  padding-top: 20%
}


.map {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

/* SVG overlay sits exactly on top */
.route {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none; /* so clicks still go to underlying elements */
}
